<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433992255785-qcg4rm2u5iodt1hfet043giseft5k8r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433992255785-qcg4rm2u5iodt1hfet043giseft5k8r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433992255785-cae3qb9qdik1gthhh4gialp0fslcdecs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADqdcgC1EBtQIrMxn9zn8AVwfSXllRpwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>433992255785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-55d5b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-55d5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433992255785:ios:1b37aa3c932f97a45ccf38</string>
</dict>
</plist>